@{ 
    Model.User Umodel = null;
    if (PersonalFramework.Service.UserLoginHelper.CurrentUser() == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    string url = Request.Url.ToString().ToLower();
    var user = PersonalFramework.Service.UserLoginHelper.CurrentUser();
    var name = user != null ? user.UserName : "贤心";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理后台</title>
    @*<link rel="stylesheet" href="../src/css/layui.css">*@
    @*<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">管理后台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        @name
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="@Url.Action("LoginOut", "login")">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item @(url.Contains("/user") ? "layui-nav-itemed" : "")">
                        <a class="" href="javascript:;">用户</a>
                        <dl class="layui-nav-child">
                            <dd class="@(url.Contains("/user/index") ? "layui-this" : "")"><a href="/user/index">列表</a></dd>
                            <dd class="@(url.Contains("/user/edit") ? "layui-this" : "")"><a href="@Url.Action("edit","user")">编辑</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item @(url.Contains("/role") ? "layui-nav-itemed" : "")">
                        <a class="" href="javascript:;">角色</a>
                        <dl class="layui-nav-child">
                            <dd class="@(url.Contains("/role/index") ? "layui-this" : "")"><a href="/role/index">列表</a></dd>
                            <dd class="@(url.Contains("/role/edit") ? "layui-this" : "")"><a href="@Url.Action("edit","role")">编辑</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item @(url.Contains("/authority") ? "layui-nav-itemed" : "")">
                        <a class="" href="javascript:;">权限</a>
                        <dl class="layui-nav-child">
                            <dd class="@(url.Contains("/authority/index") ? "layui-this" : "")"><a href="/authority/index">列表</a></dd>
                            <dd class="@(url.Contains("/authority/edit") ? "layui-this" : "")"><a href="@Url.Action("edit","authority")">编辑</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item @(url.Contains("/notice") ? "layui-nav-itemed" : "")">
                        <a class="" href="javascript:;">公告</a>
                        <dl class="layui-nav-child">
                            <dd class="@(url.Contains("/notice/index") ? "layui-this" : "")"><a href="/notice/index">列表</a></dd>
                            <dd class="@(url.Contains("/notice/edit") ? "layui-this" : "")"><a href="@Url.Action("edit","notice")">编辑</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item @(url.Contains("/article") ? "layui-nav-itemed" : "")">
                        <a class="" href="javascript:;">文章</a>
                        <dl class="layui-nav-child">
                            <dd class="@(url.Contains("/article/index") ? "layui-this" : "")"><a href="/article/index">列表</a></dd>
                            <dd class="@(url.Contains("/article/edit") ? "layui-this" : "")"><a href="@Url.Action("edit","article")">编辑</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">@RenderBody()</div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © xx.com - 底部固定区域
        </div>
    </div>
    @*<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>*@
    
    <script>
        function exit() {
            layer.confirm("确定退出登录?", "确认", function () {
                 location.href = "@(Url.Action("LoginOut", "login"))";
            });
        }
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });

        //  "/Date(xxxxxxx)/"格式时间转换
        var getTime = function (value) {
            var date = new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var sec = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
            return date.getFullYear() + "/" + month + "/" + day + " " + hour + ":" + minutes + ":" + sec;
        }
    </script>
    
</body>
</html>